.MovieComponent {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.MovieComponent .text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MovieComponent .text-container .text {
    font-size: 30px;
}

.MovieComponent .fullscreen {
    flex: 1;
    display: flex;
    flex-direction: column;
}