@import '~bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
}

body {
    display: flex;
}

#root {
    display: flex;
    flex: 1;
}

.toolbar {
    display: flex;
    justify-content: center;
    transition: opacity 1s;
    gap: 20px;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    button {
        min-width: 80px;
    }

    a {
        text-decoration: none;
        display: flex;
    }

    &.hidden {
        opacity: 0;
    }
}

.bottom-toolbar {
    display: flex;
    justify-content: center;
    transition: opacity 1s;
    gap: 20px;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    button {
        min-width: 80px;
    }

    &.hidden {
        opacity: 0;
    }
}
