html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

#root {
    display: flex;
    flex: 1;
}

a, a:visited {
    color: #000;
}

.toolbar {
    flex: 0 1 50px;
    display: flex;
    justify-content: center;
    transition: opacity 1s;
    gap: 20px;

    button {
        min-width: 100px;
        border-radius: 25px;
        border: none;

        &.round {
            width: 50px;
            min-width: auto;
            border-radius: 25px;
            border: none;
        }
    }

    a {
        display: flex;
    }

    &.hidden {
        opacity: 0;
    }
}

.bottom-toolbar {
    flex: 0 1 50px;
    display: flex;
    justify-content: center;
    transition: opacity 1s;
    gap: 20px;

    button {
        min-width: 100px;
        border-radius: 25px;
        border: none;
    }

    a {
        display: flex;
    }

    &.hidden {
        opacity: 0;
    }
}
