html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #000;
    color: #fff;
    display: flex;
}

#root {
    display: flex;
    flex: 1;
}

a, a:visited {
    color: #fff;
}

.toolbar {
    flex: 0 1 50px;
    display: flex;
    justify-content: center;
    transition: transform 1s;
}

.toolbar button {
    min-width: 100px;
    border-radius: 25px;
}

.toolbar a {
    display: flex;
}

.toolbar.hidden {
    transform: translateY(-50px);
}

.bottom-toolbar {
    flex: 0 1 50px;
    display: flex;
    justify-content: center;
    transition: transform 1s;
}

.bottom-toolbar button {
    min-width: 100px;
    border-radius: 25px;
}

.bottom-toolbar a {
    display: flex;
}

.bottom-toolbar.hidden {
    transform: translateY(50px);
}